body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    text-align: center
}

button {
    cursor: pointer;
}

img {
    object-fit: cover;
}

.black {
    color: #000000;
}

.white {
    color: #ffffff;
}

.grey {
    color: #666666;
}

.kinda-blue {
    color: #00aeef;
}

.top-head {
    margin-top: 30px;
    margin-bottom: 10px;
}

main, header, .footer-container {
    padding: 0px;
    max-width: 1200px;
    margin: auto;
    text-align: left;
}

main>* {
    width: 100%;
}

header>* {
    width: 100%;
}

.footer-container>* {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.scrollToTop {
    width: 75px;
    height: 75px;
    padding: 0;
    text-decoration: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 99;
    border-radius: 50%;
}

.scrollToTop img {
    width: 100%;
    height: 100%;
}

.top-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.top-nav a {
    text-decoration: none;
    color: #666666;
    margin-right: 10px;
}

.logo h1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-left: -50px;
}

.logo h2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.logo a {
    text-decoration: none;
}

.logo .logo-express {
    letter-spacing: 5px;
    font-family: 'Sacramento', cursive;
    font-size: 70px;
    text-align: left;
}

.logo .logo-blog {
    font-family: 'Open Sans Bold', sans-serif;
    text-align: center;
    font-size: 20px;
    margin: 0px 0 -35px 80px;
    order: -1;
}

.top-head .social-links {
    text-decoration: none;
}

.top-head .social-links ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.top-head .social-links li {
    display: inline-block;
    margin-left: 10px;
}

.menu {
    padding: 0px;
    margin: 0px;
    font-size: 16px;
}

.menu ul {
    margin-top: 30px;
    padding: 0px;
    border: 1px solid #dddddd;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu li {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 50px;
    line-height: 50px;
    flex-grow: 0.1;
}

.menu li a {
    color: #666666;
    width: 100%;
    height: 100%;
}

.menu li:last-child {
    margin-left: auto;
    flex-grow: 0.05;
}

.menu li:last-child button {
    height: 100%;
    background-color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #dddddd;
    text-decoration: none;
}

.menu .selected-button {
    background-color: #00aeef;
    border-style: 0px solid;
    color: #ffffff;
    font-weight: bold;
}

.menu .not-selected-button {
    background-color: #ffffff;
    font-weight: bold;
}

.menu .not-selected-button:hover {
    background-color: #00aeef;
}

.menu .not-selected-button:hover a {
    color: #ffffff;
}

.post-metadata {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 12px;
    font-weight: bold;
    color: #666666;
}

.post-metadata .author {
    margin-right: 5px;
}

.post-metadata time {
    margin-right: 1rem;
}

.post-metadata a {
    color: #00aeef;
    text-decoration: none;
    margin-right: 3px;
}

.slider .post-metadata {
    color: #ffffff;
}

.slider {
    background-color: #222222;
    display: flex;
    justify-content: flex-start;
}

.slider .selected-post-preview-container {
    width: 60%;
    position: relative;
}

.slider .selected-post-preview {
    font-weight: bold;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 0;
}

.slider .selected-post-preview img {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.slider .selected-post-preview .post-content {
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 30px;
}

.slider .selected-post-preview h4 {
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

.slider .selected-post-preview h3 {
    font-size: 26px;
    width: 40%;
}

.slider .selected-post-preview .post-metadata a {
    text-decoration: none;
    color: #ffffff;
}

.slider .selected-post-preview time {
    display: inline-block;
    vertical-align: top;
}

.slider .selected-post-preview .author {
    display: inline-block;
    vertical-align: top;
}

.slider ul {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    list-style-type: none;
    margin: 5px 0px;
    padding: 0;
    max-width: 40%;
    overflow-y: auto;
}

.slider .post-preview {
    margin: 5px 0px;
    position: relative;
}

.slider .post-preview img {
    margin: 0px 10px;
    min-width: 165px;
    max-width: 165px;
    height: 90px;
    align-self: center;
}

.post-preview h4 {
    display: none;
}

.category {
    display: flex;
    flex-direction: column;
}

.category-head {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 30px 0;
}

.category-head h2 {
    border-left: 5px solid #00aeef;
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 20px;
}

.category-head .hr-line {
    border: 0px;
    background: #00aeef;
    height: 2px;
    align-self: center;
    flex-grow: 1;
    margin: 15px 20px 0 20px;
}

.category-head nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0 -10px;
    height: 100%;
}

.category-head nav li {
    font-weight: bold;
    align-self: center;
    margin: 0 10px;
    cursor: pointer;
}

.category-head nav li:nth-last-child(3) {
    margin-right: 3rem;
}

.post-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 30px;
    margin: -10px 0;
}

.post-block ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0px;
    /*hack space between items*/
    margin: -10px 0;
}

.post-block ul li {
    margin: 10px 0;
}

.post-block .post-content p {
    color: #666666;
}

.post-block .post-preview-detailed {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-block .post-preview-detailed .post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.post-preview-detailed a.read-more {
    min-width: 133px;
    max-width: 133px;
    min-height: 35px;
    max-height: 35px;
    line-height: 35px;
    border-radius: 5px;
    background-color: #00aeef;
    color: #ffffff;
    font-weight: bold;
    border: none;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
}

.category .post-preview-detailed button a {
    color: #ffffff;
}

.post-preview-detailed h3 {
    font-size: 16px;
    font-weight: bold;
}

.post-preview {
    display: flex;
    justify-content: flex-start;
}

.post-preview img {
    min-width: 100px;
    max-width: 100px;
    min-height: 100px;
    max-height: 100px;
    margin-right: 20px;
}

.post-preview h3 {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}

.post-preview .post-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
}

.post-preview-large {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-width: 370px;
    max-width: 370px;
    height: 340px;
}

.post-preview-large img {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.post-preview-large .post-content {
    position: relative;
    z-index: 10;
    color: #ffffff;
    margin: 30px 30px;
}
.post-preview-large .post-metadata{
    color: #ffffff;
}
.world-news .category-head {
    margin-top: 20px;
}

.world-news .post-block {
    margin-top: -20px;
    padding-bottom: 20px;
}

.world-news .post-block ul {
    /*hack space between items*/
    margin: 10px -15px;
}
.world-news .post-block .detailed-list{
    margin-bottom: 50px;
}
.world-news .post-block ul li {
    /*hack space between items*/
    margin: 0px 15px;
}

.world-news .post-preview {
    width: 380px;
}
.world-news .post-block .post-preview-detailed {
    padding-bottom: 30px;
    border-bottom: 1px solid #dddddd;    
    flex-direction: column;
    height: 100%;
}

.world-news .post-preview-detailed img {
    width: 100%;
    max-height: 220px;
    min-height: 220px;
}

.fashion .post-block ul {
    flex-direction: column;
    margin: -10px 0;
}

.fashion .post-block ul li {
    margin: 10px 0;
}

.fashion .post-preview-detailed img {
    min-width: 370px;
    height: 220px;
    margin-right: 30px;
    align-self: center;
}

.fashion .post-preview-detailed h3 {
    margin-top: 0;
}

.two-col {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.two-col .left-col {
    width: 770px;
    margin-right: 60px;
}

.nowrap {
    flex-wrap: nowrap;
}

.lifestyle .post-block {
    flex-direction: row;
}

.lifestyle .post-preview-large {
    margin-right: 30px;
}

.lifestyle .post-block ul {
    flex-direction: column;
}

.sports .post-block ul {
    margin: -10px -15px;
}

.sports .post-block ul li {
    width: 370px;
    margin: 20px 15px;
}

.sports .post-preview-detailed {
    margin-bottom: 10px;
}

.sports .post-preview-detailed img {
    min-width: 370px;
    height: 340px;
    margin-right: 30px;
}

.technology {
    margin-right: 30px;
}

.technology .category-head .hr-line {
    visibility: hidden;
}

.technology .post-block {
    border: none;
}

.technology .post-block ul {
    flex-direction: column;
}

.technology .post-preview-large {
    min-width: 370px;
    max-width: 370px;
    height: 220px;
}

.technology .post-preview-large img {
    min-height: 220px;
}

.food-health .category-head .hr-line {
    visibility: hidden;
}

.food-health .post-block {
    border: none;
}

.food-health .post-block ul {
    flex-direction: column;
}

aside {
    width: 340px;
}

aside .post-block {
    border-bottom: none !important;
    padding: 0 !important;
}

aside .post-block ul {
    flex-direction: column !important;
}

aside .post-block .post-preview {
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
}

aside .post-block .post-preview img {
    min-width: 75px;
    max-width: 75px;
    min-height: 75px;
    max-height: 75px;
}

aside .post-block .post-preview h3 {
    font-size: 14px;
}

aside .categories ul {
    list-style-type: none;
    padding: 0;
    margin: -10px 0;
}

aside .categories ul li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 20px;
    color: #222222;
    font-size: 14px;
    margin: 10px 0;
    cursor: pointer;
}

aside .categories ul li h4 {
    margin: 0;
}

aside .categories ul li div {
    font-weight: bold;
}

aside .banner {
    margin-top: 40px;
    height: 340px;
    width: 340px;
    background-color: #222222;
    display: flex;
}

aside .banner img {
    height: 320px;
    width: 320px;
    margin: auto;
    /* Magic! */
}

footer {
    padding: 0px;
    display: block;
    margin-top: 50px;
    justify-content: space-between;
    background-color: #000000;
    width: 100%;
    color: #d1d1d1;
}

footer .post-metadata {
    color: #d1d1d1;
}

.footer-container {
    display: block;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    margin: 0 -30px;
}

.footer-content section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.3%;
    margin: 50px 30px;
}

.footer-info .logo {
    align-self: flex-start;
}

.footer-info .logo h2 {
    text-align: left;
    padding: 0px;
    margin: 0px;
    align-content: flex-start;
    align-items: flex-start;
}

.footer-info .logo .logo-blog {
    margin: 0px 0 -35px 60px;
}

.footer-info p {
    margin: 0;
}

.footer-info .social-circles {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: -5px 0;
}

.footer-info .circle-line {
    display: flex;
    justify-content: flex-start;
    margin: 5px -5px;
    list-style-type: none;
    padding: 0px;
}

.footer-info .circle-line .circle {
    background-color: #ffffff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0px 5px;
}

footer .category-head {
    margin: 0;
    min-height: 50px;
}

footer .category-head h2 {
    margin-top: 0px;
    padding: 0 0 0 20px !important;
    font-size: 16px;
    margin-bottom: 30px;
    height: 20px;
    color: #ffffff;
}

.footer-most-viewed ul {
    flex-direction: column;
    justify-content: space-between;
    margin: -20px 0;
    padding: 0;
    list-style-type: none;
}

.footer-most-viewed .bordered {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 20px !important;
}

.footer-most-viewed ul li {
    padding-bottom: 0px;
    margin: 20px 0;
}

.footer-most-viewed .post-preview img {
    min-width: 75px;
    max-width: 75px;
    min-height: 75px;
    max-height: 75px;
}

.footer-most-viewed .post-preview h3 {
    font-size: 14px;
}

.footer-twitter .twitter-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: -10px 0;
    height: 100%;
}

.footer-twitter .twit {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 75px;
    margin: 10px 0;
}

.footer-twitter .bordered {
    border-bottom: 1px solid #d1d1d1;
    padding-bottom: 20px !important;
}

.footer-twitter .twit p {
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}

.footer-twitter .twit .post-metadata {
    justify-content: space-between;
}

.footer-twitter .twit .post-metadata .btns {
    margin: 0 -5px;
}

.footer-twitter .twit .post-metadata .btns img {
    margin: 0 5px;
    vertical-align: middle;
}

.copyright {
    height: 75px;
    line-height: 75px;
    background-color: #000000;
    border-top: 1px solid #d1d1d1;
    color: #d1d1d1;
    text-align: center;
    vertical-align: middle;
    width: 100%;
}